{% extends './layout.html'%}

{% block body %}
    <div class="row">
        <div class="col-lg-5 mx-auto">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message[0]}} alert-dismissible fade show my-2" role="alert">
            <strong>{{message[1]}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card card-body">
                <form action="" method="POST"> 
                    <h4>This chat room is private</h4>
                    <input type="password" name="password" placeholder="Password" class="form-control my-2">
                    <button type="submit" class="btn btn-secondary w-100">Send</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}